psutil
jupyterlab
opencv-contrib-python
opencv-python
pandas
pygame
jupyterlab_widgets
flask
dlib
face-alignment
djitellopy
jupyterlab-fonts
mtcnn
face-recognition
face-alignment
gdown
Js2Py
tensorflow
imutils
matplotlib
imageio
pysimplegui
packaging
detecto
labelImg
scikit-learn
widgetsnbextension
ipywidgets